.tree-table-view{
    -fx-background-color: transparent;
 }

.tree-table-view .column-header {
     -fx-background-color: transparent;
}

.tree-table-view .column-header-background{
    -fx-background-color: transparent;
}

.tree-table-view .scroll-bar {
    -fx-background-color: white;
}

.tree-table-view .scroll-bar:horizontal {
    visibility: false;
}

.tree-table-view .column-header-background .label{
    -fx-background-color: transparent;
    -fx-font-size: 25px;
    -fx-text-fill: grey;
    -fx-alignment: center-left;
    -fx-font-weight: normal;
    -fx-font-family: Calibri;
}

.tree-table-view .table-column{
    -fx-alignment:center-left;
}

.tree-table-view .table-cell{
    -fx-font-size:15px;
}


.tree-table-row-cell:hover {
    -fx-background-color:lightgrey;
}

.tree-table-row-cell:focused {
    -fx-background-color:lightgrey;
}